.footer {
  padding: 17px 0;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer__social {
  display: flex;
}

.social {
  transition: opacity 0.3s ease-in;
}

.social:hover {
  opacity: .5;
}

.women .social {
  color: #C300C7;
}

.men .social {
  color: #1178B2;
}

.social {
  margin-right: 16px;
}

.social:last-child {
  margin-right: 0;
}